
@media (max-width:600px) {
    .formulario {
        width: 100%;
    }
}

@media (min-width:600px) {
    .navegacion {
        

        li{

            a{
                flex-direction: column;
            }
        }
    }
}

@media (max-width:600px) {
    footer {
        display: flex;
        flex-direction: column;
    }
}


@media (max-width:600px) {
    .servicios  {
        
        .contrato-mantenimiento{

            .texto{
                flex-direction: column;
            }
        }
    }
}


@media (max-width:750px) {
    footer {
        display: grid;
        flex-direction: column;
        justify-content: center;
    }

    .redes-sociales  {

        li{
            margin-right: 15px;
            text-align: center;
        }
        

    }
    

    
}