.imagen {
    display: flex;
    padding: 10px;
    width: 100%;

    p{
        padding: 10px;
    }
}




.imagen-derecha {
    display: flex;
    padding: 10px;
    justify-content:space-between;
    width: 100%;
    
    

    div{
        padding-left: 60px;

        h2{
            text-align: center;
        }
    }
}


#imagenn {
    margin-left: 25px;
    
}


