.imagen {
    display: flex;
    padding: 10px;

    p{
        padding: 10px;
    }
}




.imagen-derecha {
    display: flex;
    padding: 10px;

    div{

        h2{
            text-align: center;
        }
    }
}


#imagenn {
    margin-left: 25px;
}


